<!DOCTYPE html>
<html>
<head>
 	  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <meta content='text/html; charset=utf-8' http-equiv='content-type'>
      <title>
            AppDirect Search
      </title>
      <meta content='DocCenter' name='description'>
      <link href='./stylesheets/screen.css' media='all' rel='stylesheet' type='text/css' />
      <link rel='shortcut icon' href='https://d6r6ulbtqyuv7.cloudfront.net/wicket/resource/com.appdirect.wicket.resources.Resource/spa/themes/appdirectapp/images/favicon-ver-E524860B6D15077DC12CB7437023988E.ico' type='image/x-icon'>
      <meta content='authenticity_token' name='csrf-param' />
      <meta content='K/WHCa+GcY3f6YL5Hs1oAs3t5/sP4iPj5nsGLm9EK9Y=' name='csrf-token' />
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <style type='text/css'>
        *{
          box-sizing: border-box;
        }
        
        a:hover
        {
            color: #80cddf;
        }
        
        body
        {
          color:rgb(86, 86, 86);
          font-family: Arial, Helvetica, sans-serif; 
          font-size: 16px;
        }
       
        p 
        {
          line-height: 1.5;
          margin: 0.5em 0px 1.25em;
       }
      </style>

	<!----------------------------- Heap Script ------------------------------->

    <script type='text/javascript'>
        window.heap = window.heap || [], heap.load = function(e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || 'https:' === document.location.protocol, a = document.createElement('script');
            a.type = 'text/javascript', a.async = !0, a.src = (r ? 'https:' : 'http:') + '//cdn.heapanalytics.com/js/heap-' + e + '.js';
            var n = document.getElementsByTagName('script')[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function(e) {
                return function() {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)));
                };
            }, p = ['addEventProperties', 'addUserProperties', 'clearEventProperties', 'identify', 'removeEventProperty', 'setEventProperties', 'track', 'unsetEventProperty'], c = 0; c < p.length; c++) heap[p[c]] = o(p[c]);
        };
        heap.load('169561623');
    </script>

    	<!----------------------------- Local JS Scripts ------------------------------->

    <script defer='defer' type='text/javascript' src='./javascripts/jquery.js'></script>
    <script defer='defer' type='text/javascript' src='./javascripts/jquery.mark.min.js'></script>
    <script defer='defer' type='text/javascript' src='./javascripts/redirect.js'></script>
    <script defer='defer' type='text/javascript' src='./javascripts/search.js'></script>
    <script defer='defer' type='text/javascript' src='./javascripts/header.js'></script>
</head>

<body>
     <header id='header'>
      <div class='primary-header'>
        <ul class='primary-header-left-ul'>
            <li class='primary-header-left-ul-li logo-li'>
               <a href='http://help.appdirect.com/'> 
               <img src='images/appdirect-mark.png'
                    class='appdirect_dark_logo'
                    alt='appdirect-dark-logo'>
               <img src='images/appdirect-mark-light.png'
                    class='appdirect_light_logo display_none'
                    alt='appdirect-light-logo'>
               </a>
            </li>
            <li id='hide_subnav'
            class='primary-header-left-ul-li subnav-li both-side-border'>
                  <a id='userguidelink_id' class='header-links userguidelink'>
                        Docs
                  </a>
                  <ul class='subnav display_none'>
                    <li>
                        <a class='subnav-links' href='/platform/manageThePlatform.html' target='_blank'>
                            Platform
                        </a>
                    </li>
                    <li>
                        <a class='subnav-links' href='/reseller/appreseller.html' target='_blank'>
                            Resellers
                        </a>
                    </li>
                    <li>
                        <a class='subnav-links' href='/products/createAndManageProducts.html' target='_blank'>
                            Products
                         </a>
                    </li>
                    <li>
                        <a class='subnav-links' href='/develop/useAppDirectAPI.html' target='_blank'>
                              APIs
                        </a>
                    </li>
                  </ul>
                </li>
            </ul>
          <div class='search-bar container-search'>
                <a href='javascript:void(0)' id='search_menu'>
                    <img id ='search_image'
                              class='search_image'
                              src='./images/magnifying_glass.png'
                              alt='search'>
                </a>
                <input style='margin-top: 0;'
                       autocomplete='off'
                       id='search-val'
                       class='header-search-result search-bar-width'
                       placeholder='Search Documentation Center'
                       type='text'/>
        </div>
        <div class='header-right-div'>
          <a href='javascript:void(0)'
              id='hide_menu'>
              &#9776;
          </a>
          <ul class='primary-header-right-ul display_none_mobile_view'>
             <li class='primary-header-right-ul-li both-side-border top-down-border training-li'>
                <a class='header-links training' href='/training/training.html'>
                     Training
                </a>
            </li>
            <li class='primary-header-right-ul-li both-side-border  top-down-border helpsupport-li'>
                <a class='header-links helpsupport' href='https://docs.appdirect.com/help-support/overview'>
                     Help & Support
                </a>
            </li>
            <li class='primary-header-right-ul-li right-side-border'>
                <a class='header-links login' href='https://docs.appdirect.com/login'>
                    Log In
               </a>
            </li>
          </ul>
        </div>
      </div>
    </header>

<div class='search-image'>
</div>

<div class='search-wrapper'>
		<div class='outer-div'>
			<span class='search-heading'> </span>
			<span class='clear-all-filters'>Clear All Filters</span>
		</div>
		<div class='search-results'>
			<div class='show-filters'>
				<span>Filter</span>
			</div>
			<div class='search-result-title'>
			</div>
			<div class='mobile-filters'>
				<div class='mobile-filters-outer-div'>
					<span class='back-to-results'>
						<a>< </a>
						Back to Results
					</span>
					<span class='clear-all-filters-mobile'>
						Clear All Filters
					</span>
				</div>
				<div class='search-filter-mobile'>
                <h4 class='search-filter-heading'> Content Type </h4>
                <ul class='search-filter-list'>
                    <li class='search-filter-options'>
                        <input class='index_all' id='all_Mobile' name='index_mobile' type='radio'>
                        <label for='all_Mobile'>All</label>
                    </li>
	                <!-- We might come back to this based on the feedback -->
	                <!--<li class='search-filter-options'>
						<input class='index_api' name='index_mobile' type='radio' id='api_reference_mobile'>
						<label class='index_api_label' for='api_reference_mobile'>API Reference</label>
						</li>
						 <li class='search-filter-options'>
						<input class='index_guides' name='index_mobile' type='radio' id='guides_mobile'>
						<label class='index_guides_label' for='guides_mobile'>Guides</label>
					</li>-->
                </ul>
            </div>
            <div class='product-filter-mobile'>
                <h4 class='product-filter-heading'>Category</h4>
                <li class='product-filter-options'>
                    <input class='index_platform' name='category' type='checkbox' id='platform_mobile'>
                    <label for='platform_mobile'>Platform Management</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_product' name='category' type='checkbox' id='product_mobile'>
                    <label for='product_mobile'>Product Development</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_reseller' name='category' type='checkbox' id='reseller_mobile'>
                    <label for='reseller_mobile'>Reseller Management</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_api_guides' name='category' type='checkbox' id='api_guides_mobile'>
                    <label for='api_guides_mobile'>API Guides</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_api_flare' name='category' type='checkbox' id='api_flare_mobile'>
                    <label for='api_flare_mobile'>API Reference</label>
                </li>
            </div>
            <div class='sort-filter-mobile'>
                <h4 class='sort-filter-heading'>Sort By Date</h4>
                <li class='sort-filter-options'>
                    <input class='index_new' name='index_date_mobile' type='radio' id='New_Mobile'>
                    <label for='New_Mobile'>Newest First</label>
                </li>
                <li class='sort-filter-options'>
                    <input class='index_old' name='index_date_mobile' type='radio' id='Old_Mobile'>
                    <label for='Old_Mobile'>Oldest First</label>
                </li>
            </div>
        </div>
        <div class='filters'>
            <div class='search-filter'>
                <h4 class='search-filter-heading'>Content Type</h4>
                <li class='search-filter-options'>
                    <input class='index_all' name='index' type='radio' id='all'>
                    <label for='all'>All</label>
                </li>
                <li class='search-filter-options'>
                    <input class='index_api' name='index' type='radio' id='api_reference'>
                    <label class='index_api_label' for='api_reference'>API Reference</label>
                </li>
                <li class='search-filter-options'>
                    <input class='index_guides' name='index' type='radio' id='guides'>
                    <label class='index_guides_label' for='guides'>Guides</label>
                </li>
            </div>
            <div class='product-filter'>
                <h4 class='product-filter-heading'>Category</h4>
                <li class='product-filter-options'>
                    <input class='index_platform' name='category' type='checkbox' id='platform'>
                    <label for='platform'>Platform Management</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_product' name='category' type='checkbox' id='product'>
                    <label for='product'>Product Development</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_reseller' name='category' type='checkbox' id='reseller'>
                    <label for='reseller'>Reseller Management</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_api_guides' name='category' type='checkbox' id='api_guides'>
                    <label for='api_guides'>API Guides</label>
                </li>
                <li class='product-filter-options'>
                    <input class='index_api_flare' name='category' type='checkbox' id='api_flare'>
                    <label for='api_flare'>API Reference</label>
                </li>
            </div>
            <div class='sort-filter'>
                <h4 class='sort-filter-heading'>Sort By Date</h4>
                <li class='sort-filter-options'>
                    <input class='index_new' name='index_date' type='radio' id='New'>
                    <label for='New'>Newest First</label>
                </li>
                <li class='sort-filter-options'>
                    <input class='index_old' name='index_date' type='radio' id='Old'>
                    <label for='Old'>Oldest First</label>
                </li>
            </div>
        </div>
    </div>
</div>

<a href='#' id='back-to-top' title='Back to top'>Top</a>       

<div class='footer'>
    <ul class='footer_left'>
        <li class='footer_left_li'>
            <a class='footer_link' href='https://dev-help2.appdirect.com/'
            target='_blank'>
                  Help Center
            </a>
        </li>
    </ul>
    <ul class='footer_right'>
        <li class='footer_right_li'>
            <a class='footer_link' href='https://www.appdirect.com/about/privacy-policy'
			   target='_blank'>
			       Privacy Policy
			</a>
        </li>
        <li class='footer_right_li'>
            <a class='footer_link' href='https://www.appdirect.com/about/terms-of-service'
            target='_blank'>
                   Terms & Conditions
            </a>
        </li>
        <li class='footer_right_li'>
            <a class='footer_link' href='https://www.appdirect.com/' target='_blank'> &copy; AppDirect, Inc
                <script type='text/javascript'>
                    document.write(new Date().getFullYear());
                </script>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
